body {
    background: linear-gradient(to right, #acc4d0, #4a4c50);
}

h1 {
    color: rgb(28, 25, 25);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 33px;
}

label {
    font-size: 22px;
    color: rgb(29, 27, 27);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

select {
    font-size: 20px;
    color: rgb(19, 19, 20);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    font-size: 20px;
    color:rgb(9, 9, 9);
    border-color:white;
    background-color:rgb(232, 232, 239);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.numeroResultado{
     color: black;
     font-size: 28px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input{
    font-size: 22px;
    color: rgb(13, 13, 13);
    border-color: rgb(15, 15, 16);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}